.h1.ms-3.mt-3
  = "My To-Do Lists"

.row.flex-nowrap.overflow-auto.ms-3.mt-4
  - @lists.each do |list|
    .col-3.border
      %h4= list.title
      = button_to "Delete", list_path(list), method: :delete, class: "btn btn-primary"
  .col-3 
    = button_to "Add List", new_list_path, method: :get, class: "btn btn-primary"